  footer{
    margin-bottom: 88px;
  }
  
  .footer{
    background-color:#2C343E;
    display: flex;
    align-items: center;
    padding:47px 85px ;
  }
  
  .footer__left{
    display: flex;
    align-items: center;
    margin-right: auto;
    
  }
  
  .footer__logo{
    margin-right: 103px;
  }
  
  .footer__item--left{
    margin-left: 0;
  }
  
  .footer__link{
    text-decoration: none;
    color: #83888F;
  }
  
  .footer__link:hover{
    color:#FEFCF7;
  }
  
  .footer__social{
    display: flex;
  }
  
  .footer__roster{
    margin-left: 24px;
  }
  
  .footer__rosret--left{
    margin-left: 0;
  }
  
  @media only screen and (max-width:1000px){

    .footer{
      padding: 47px 40px;
    }
  }
  
  
  @media only screen and (max-width:900px){

    .footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 57px 40px;
    }

    .footer__left{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .footer__logo{
      margin-right: 0;
      margin-bottom: 35px;
    }

    .footer__list{
      margin-bottom: 65px;
    }

  }

  @media only screen and (max-width:450px){

    .footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 54px 40px;
    }

    .footer__left{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .footer__logo{
      margin-right: 0;
      margin-bottom: 35px;
    }

    .footer__img{
      width: 217px;
    }

    .footer__list{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 65px;
    }

    .footer__item--left, .footer__item{
      margin-left: 0;
      margin-bottom: 24px;
    }

    .footer__item:last-child{
      margin-bottom: 0;
    }

  }
