.headquarters{
    padding-top: 168px;
    padding-bottom: 168px;
}

.headquaters__map{
    width: 100%;
    max-width: 1045px;
    margin: 0 auto 168px;
}

.headquarters__title{
    font-family:"Fraunces";
    font-weight:900;
    font-size:24px;
    line-height:32px;
    color: #83888F;
    margin-bottom:75px;
}

.headquarters__list{
    display: flex;
    width: 100%;
    max-width: 898px;
}

.headquarters__item{
    margin-right: 95px;
}

.headquarters__item:last-child{
    margin-right: 0;
}

.headquarters__item--canada{
    margin-right: 231px;
}

.headquarters__img{
    width: 100%;
    max-width:41px ;
    max-height:49px ;
    margin-bottom: 46px;
}

.headquarters__img--canada{
    width: 100%;
    max-width:56px;
    max-height:50px ;
}

.headquarters__img--austtralia{
    width: 100%;
    max-width:49px ;
    max-height:44px ;
}

.headquarters__text{
    font-family:"Fraunces" ;
    font-weight:900 ;
    font-size:32px ;
    line-height:36px ;
    margin-bottom: 24px;
}

.headquarters__address{
    font-family:"Barlow" ;
    font-weight:400 ;
    font-style: normal;
    font-size:16px ;
    line-height:26px ;
    color: $color-darkgreyblue-color;
}

.headquarters__link{
    font-family:"Barlow" ;
    font-weight:400 ;
    font-size:16px ;
    line-height:26px ;
    text-decoration: none;
    color:$color-darkgreyblue-color ; 
}


@media only screen and (max-width:800px ){
    
    .headquarters{
        padding-top: 120px;
    }

    .headquarters__map{
        padding: 0 20px;
    }
    
    .headquarters__item--canada{
        margin-right: 130px;
    }
    
    
}

@media only screen and (max-width:700px ){
    
    .headquarters{
        padding-top: 100px;
    }

    .headquarters__title{
        text-align: center;
    }
    
    .headquarters__item--canada{
        margin-right: 80px;
    }
    
    // .headquarters__item:first-child{
    //     margin-right: 55px;
    // }
    
    
}

@media only screen and (max-width:646px ){
    
    .headquarters{
        padding-top: 100px;
    }


    .headquarters__title{
        margin-bottom: 50px;
    }
    
    .headquarters__list{
        display: flex; 
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .headquarters__img{
        margin-bottom: 20px;
    }

    .headquarters__text{
        font-size: 30px;
        margin-bottom: 15px;
    }

    // .headquarters__item--canada{
    //     margin-right: 80px;
    // }
    
    .headquarters__item{
        margin: 0 auto;
        padding: 0 20px;
        margin-bottom: 30px;

    }

    .headquarters__item:last-child{
        margin: 0 auto ;
    }
    
    
}